.content{
    gap: 20px;
   justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;



}
.box{
    flex: 1;
    background-color: skyblue;
    padding: 30px;
    text-align: center;
    height: 100px;
    color: white;
    display: flex;
    justify-content: center;
}
    