* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page-wrapper {
  display: flex;
  flex-direction: column;
  background-image: url("./images/bg-mobile.svg");
  background-size: 100% auto;
  background-position: top;
  background-repeat: no-repeat;
  background-color: hsl(257, 21%, 57%);
  min-height: 100vh;
  padding: 32px;
}
.logo {
  display: block;
  height: auto;
  width: 100%;
  max-width: 165px;
}
